.markup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: var(--markupHorizontal);
    justify-content: var(--markupVertical);
    text-align: var(--markupTextAlign);
}
